In [ ]:
import yfinance as yf 
import pandas as pd

def investors_and_reccomendations(stock_name):

    ''' 
    Extract insights relative to a specific stock.

    :param stockname: ticker symbol
    
    :return: stats related to the specific stock (risk, holders, reccomendations)
    '''

    ticker = yf.Ticker(stock_name)
    company_name = ticker.info['longName']

    major_holders_df = ticker.major_holders

    institutional_holders_df = ticker.institutional_holders
    institutional_holders_df['Shares'] = institutional_holders_df['Shares'].apply(lambda x: "{:,.0f}".format(x))
    institutional_holders_df['Value'] = institutional_holders_df['Value'].astype(float)
    institutional_holders_df['Value'] = institutional_holders_df['Value'].apply(lambda x: "{:,.0f}".format(x))

    recommendations_df = ticker.recommendations


    major_risks = pd.DataFrame(ticker.sustainability).reset_index().rename(columns={'index': 'Risk'})
    major_risks = major_risks.loc[21:].reset_index(drop=True)

    mapping = {
        'adult': 'Adult',
        'alcoholic': 'Alcohol',
        'animalTesting': 'Animal Testing',
        'controversialWeapons': 'Controversial Weapons',
        'furLeather': 'Fur Leather',
        'gambling': 'Gambling',
        'gmo': 'GMO',
        'militaryContract': 'Military Contract',
        'nuclear': 'Nuclear',
        'pesticides': 'Pesticides',
        'palmOil': 'Palm Oil',
        'coal': 'Coal',
        'tobacco': 'Tobacco'
    }

    major_risks['Labels'] = major_risks['Risk'].map(mapping)

    major_risks = major_risks.dropna()
    major_risks = major_risks.drop('Risk', axis=1)
    major_risks.insert(0, 'Labels', major_risks.pop('Labels'))
    major_risks = major_risks.reset_index(drop=True)

    return major_holders_df, institutional_holders_df, recommendations_df, major_risks

In [6]:
a,b,c,d = investors_and_reccomendations("AAPL")

In [7]:
a

Breakdown                          Value
insidersPercentHeld              0.02719
institutionsPercentHeld          0.61335
institutionsFloatPercentHeld     0.63049
institutionsCount             6476.00000

In [8]:
b

,Date Reported,Holder,pctHeld,Shares,Value
0,2023-06-30,Vanguard Group Inc,0.0834,"1,303,688,506","252,876,459,508"
1,2023-06-30,Blackrock Inc.,0.0665,"1,039,640,859","201,659,137,420"
2,2023-06-30,"Berkshire Hathaway, Inc",0.0586,"915,560,382","177,591,247,296"
3,2023-06-30,State Street Corporation,0.0370,"578,897,858","112,288,817,516"
4,2023-06-30,"FMR, LLC",0.0196,"307,066,638","59,561,715,772"
5,2023-06-30,"Geode Capital Management, LLC",0.0186,"291,538,165","56,549,657,865"
6,2023-06-30,Price (T.Rowe) Associates Inc,0.0145,"226,650,943","43,963,483,413"
7,2023-06-30,Morgan Stanley,0.0131,"204,714,950","39,708,558,851"
8,2022-12-31,Norges Bank Investment Management,0.0107,"167,374,278","21,746,939,940"
9,2023-06-30,Northern Trust Corporation,0.0105,"164,536,073","31,915,062,079"

In [9]:
c

  period  strongBuy  buy  hold  sell  strongSell
0     0m         11   21     6     0           0
1    -1m         12   24    11     1           0
2    -2m         12   23    10     1           0
3    -3m         10   24     7     1           0

In [10]:
d

                   Labels esgScores
0                   Adult     False
1               Alcoholic     False
2          Animal Testing     False
3   Controversial Weapons     False
4             Fur Leather     False
5                Gambling     False
6                     GMO     False
7       Military Contract     False
8                 Nuclear     False
9              Pesticides     False
10               Palm Oil     False
11                   Coal     False
12                Tobacco     False